@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: none;
}

body {
  background-color: rgb(223, 212, 212);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  font-size: 2rem;
}

.container {
  height: 80vh;
  width: 50vh;
  background-color: rgb(33, 32, 32);
  border-radius: 1rem;
  padding: 1rem;
}

.calculator {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.8rem;
}

.btn {
  display: grid;
  place-content: center;
  background-color: rgb(194, 188, 188);
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: grey;
}

.light-gray {
  background-color: rgb(69, 65, 65);
  color: white;
}

.light-gray:hover {
  background-color: whitesmoke;
  color: black;
}

.display {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: white;
  text-align: right;
  padding: 1.2rem;
  font-size: 4rem;
  overflow: hidden;
}

.aquamarine {
  background-color: aquamarine;
}
.aquamarine:hover {
  background-color: rgb(40, 189, 139);
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
}
